:root{
    --maincolor: #FFD500;
    --bordercl:rebeccapurple;
    --callouctcolor:dodgerblue;
    --hovercolor:#005BBB;
    --darkMaincolor: #FFD500;
}


footer .border:hover {
    background-color: transparent;
    color: inherit;
}
